{% raw %}
PREFIX ex: <http://example.org/>
{% endraw %}

{% set select_line = '(COUNT(*) AS ?n)' if count else '?x ?y' %}
SELECT {{ select_line }}
{% for split in splits %}
FROM ex:{{ split }}
{% endfor %}
WHERE {
    ex:Q{{ flat_ids[0] }} ex:P{{ flat_ids[1] }} ?x .
    ?x ex:P{{ flat_ids[2] }} ?y .
    ex:Q{{ flat_ids[3] }} ex:P{{ flat_ids[4] }} ?y .
}
